.animacaoimgTeclaFacil11 {
  animation-name: animacaoimgTeclaFacil1;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaFacil12 {
  animation-name: animacaoimgTeclaFacil1;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaFacil13 {
  animation-name: animacaoimgTeclaFacil1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Estilo de ataque 01; */
@keyframes animacaoimgTeclaFacil1 {  
  0%   {left:85%; bottom: 15%;}
  10%  {left:77.78%; bottom: 20%;} /*85% - 7,22 */
  20%  {left:70.56%; bottom: 25%;} /*77,78% - 7,22 */
  30%  {left:63.34%; bottom: 30%;} /*70,56% - 7,22 */
  40%  {left:56.12%; bottom: 35%;} /* MEIO DA ANIMACAO PARA O TARGET! ASSIM 85(SAIDA LEFT NO INIMIGO) - 20(LEFT DO TARGET) =  65/9 (9 = QUANTIDADE DE ANIMACOES ATE O TARGET) = 7,22 (O QUE DEVO SUBTRAIR DE CADA ANIMACAO LEFT!) */ 
  50%  {left:48.9; bottom: 32.5%;} /* Vai diminuindo... */
  60%  {left:41.68%; bottom: 30%;}
  70%  {left:34.46%; bottom: 25%;}
  80%  {left:27.24%;  bottom: 20%;}
  90%  {left:20%; bottom: 15%;} /* TARGET FICA EM left:20%; bottom: 15% */
  95%  {left:13%; bottom: 15%;} /*PARA IR DO TARGET ATE O HEROI */
  100% {left:7%; bottom: 15%;}
}

.animacaoimgTeclaFacil21 {
  animation-name: animacaoimgTeclaFacil2;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaFacil22 {
  animation-name: animacaoimgTeclaFacil2;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaFacil23 {
  animation-name: animacaoimgTeclaFacil2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Estilo de ataque 02; */
@keyframes animacaoimgTeclaFacil2 {  
  0%   {left:85%; bottom: 15%;}
  10%  {left:77.78%; bottom: 14%;} 
  20%  {left:70.56%; bottom: 13%;} 
  30%  {left:63.34%; bottom: 12%;} 
  40%  {left:56.12%; bottom: 11%;} 
  50%  {left:48.9; bottom: 11,5%;} 
  60%  {left:41.68%; bottom: 12%;}
  70%  {left:34.46%; bottom: 13%;}
  80%  {left:27.24%;  bottom: 14%;}
  90%  {left:20%; bottom: 15%;} 
  95%  {left:13%; bottom: 15%;}
  100% {left:7%; bottom: 15%;}
}

.animacaoimgTeclaFacil31 {
  animation-name: animacaoimgTeclaFacil3;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaFacil32 {
  animation-name: animacaoimgTeclaFacil3;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaFacil33 {
  animation-name: animacaoimgTeclaFacil3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Estilo de ataque 03; */
@keyframes animacaoimgTeclaFacil3 {  
  from { left: 85%; }
  to { left: 7%; }
}

/* ======================================================== */

.animacaoimgTeclaFacil41 {
  animation-name: animacaoimgTeclaFacil1;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaFacil42 {
  animation-name: animacaoimgTeclaFacil1;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaFacil43 {
  animation-name: animacaoimgTeclaFacil1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaFacil51 {
  animation-name: animacaoimgTeclaFacil2;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaFacil52 {
  animation-name: animacaoimgTeclaFacil2;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaFacil53 {
  animation-name: animacaoimgTeclaFacil2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.animacaoimgTeclaFacil61 {
  animation-name: animacaoimgTeclaFacil3;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaFacil62 {
  animation-name: animacaoimgTeclaFacil3;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.animacaoimgTeclaFacil63 {
  animation-name: animacaoimgTeclaFacil3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: running;
}